[submodule "QuestCameraLib"]
	path = PerseusCameraLib
	url = https://github.com/samuelm2/QuestCameraLib.git
[submodule "quest-3d-reconstruction"]
	path = perseusxr-reconstruction
	url = https://github.com/samuelm2/quest-3d-reconstruction.git
